body {
    margin: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT';
    display: grid;
    justify-content: center;
}

.title {
    color: #16697A;
    text-align: center;
    margin-bottom: 1em;
}

.entry-textbox {
    background-color: #FFA62B;
    width: 20em;
    height: 10em;
    padding: 1em;
    margin-bottom: 0.5em;
    border: unset;
    border-radius: 25px;
}

/* to not show the border when typing*/
.entry-textbox:focus {
    outline: none;
}

/* to specifically target the button inside the entryForm id element */
#entryForm .button {
    border: unset;
    border-radius: 25px;
    padding: 5px 16px;
    margin-left: 76%;
}

#entries {
     background: #16697A;
     color: #EDE7E3;
     font-family: cursive;
     padding: 2em;
     max-width: 20em;
     border: unset;
     border-radius: 25px;
     margin-top: 1em;
 }

 .display-entry-button {
     padding-bottom: 1em;
     margin: 0.2em;
 }
 
 .display-entry-button:hover {
     cursor: pointer;
 }